.book-item {
    width: 100%;
    font-size: 1.5rem;
    padding: 1rem 0;
    width: 100%;
    display: grid;
    grid-template: auto / repeat(auto-fit, minmax(200px, 1fr));
    place-items: center;
    border-bottom: 1px solid #ccc;
}



.book-item__image {
    width: 150px;
    height: 100%;
}

.book-item__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1rem;
    place-self: start;
    align-self: center;
}

.book-item__title {
    font-weight: 700;
}

.book-item__quantity-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.book-item__btn {
    width: 1.5rem;
    cursor: pointer;
}