section.bookList {
    width: 100%;
    padding: 3rem;
    background-color: var(--background-color);
}

div.book-container {
    width: 100%;
    display: grid;
    grid-template: auto / repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}