section.main {
	display: flex;
	justify-content: space-around;
	padding: 2em;
}

/*------- book desc -------*/
.book-info {
	flex: 1 1 auto;
	margin-right: 2em;
}

.book-main-info {
	display: flex;
}

.book-cover {
	flex: 0 0 40%;
}

.book-characterics ul {
	list-style: none;
	font-size: 1.1rem;
}

.book-characterics ul li:not(:last-of-type) {
	margin-bottom: 1em;
}

.charact-name {
	display: block;
	font-weight: bold;
}

.charact-value {
	display: block;
	width: fit-content;
	margin-left: 2em;
	border-bottom: 1px dashed #ccc;
	padding: 0.3em;
}

.book-description {
	margin-top: 3em;
}

.book-price {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
